


.movies{
  background: #000;
  &__wrapper{
    display: flex;
    justify-content: center;
    width:93vw;
    background: #000;
    
  }

  &__carousel{
    margin-left:25px;
    width:87vw;
    background: #000;
  }

  &__itemWrapper{
    display:flex;
    justify-content: space-between;
  }

  &__item{
    width: 200px;
  }
}